.header {
  background-color: rgb(235, 236, 213);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 7px dotted rgb(213, 34, 34);
  border-radius: 20px;
  box-shadow: 0 0 0 10px hsl(0, 0%, 80%), 0 0 0 15px hsl(0, 0%, 90%);
  margin-bottom: 20px;
}

h1 {
  font-size: 100px;
  margin: 0px;
}

hr {
  height: 1px;
  background-color: black;
  width: 95%;
}
